.pagenation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  background: #032541;
  gap: 10px;
}
.page-no {
  color: #fff;
  font-size: larger;
  font-weight: 700;
}
