.menu {
  display: inline-flex;
  gap: 25px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 15px;
  background: #032541;
  color: #ffffff;
}
.menu > li > a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.menu > li:hover {
  color: rgb(11, 11, 11);
  background-color: aliceblue;
  border-radius: 25px;
  padding: 5px 10px;
}
.search-box {
  background: white;
  color: black;
  border-radius: 25px;
  padding: 6px;
}
.search-box > input,
.no-btn {
  border: none;
  background-color: none;
}
.search-box > button {
  border: none;
  background: #032541;
  padding: 4px;
  color: white;
  font-size: 18px;
  border-radius: 25px;
}
.search-box > button > .icon {
  vertical-align: -3px;
}
